<div class="container">
    <div class="span3 well">
        <h1 class="text-center">Editar Plan</h1>
        <%= render 'form' %>
        <%= link_to 'Mostrar', @plane, class: "btn btn-default" %>
        <%= link_to 'Atrás', planes_path, class: "btn btn-default" %>
    </div>
</div>