<div class="container">
    <div class="span3 well">
        <h1 class="text-center">Plan Nuevo</h1>

        <%= render 'form' %>

        <%= link_to 'Atrás', planes_path, class:"btn btn-default" %>
    </div>
</div>