

<div class="container">
    <div class="span3 well">
        <h1 class="text-center">Mascota Nueva</h1>

        <%= render 'form' %>
        <br>
        <%= link_to 'Atrás', mascota_path, class:"btn btn-default" %>
    </div>
</div>