
<%= link_to 'Atrás', reservas_path, class: "btn btn-large btn-default" %>
<h1>Control de Reserva</h1>

<%= render 'form' %>

<%= link_to 'Atrás', reservas_path, class: "btn btn-large btn-default" %>
