<center>
    <br><br>
    <div class="panel panel-default">
        <div class="panel-heading canter-menu">Opciones</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item"><a href="../"><span class="canter-menu" position="center">Inicio</span></a></li><br>
                <li class="list-group-item"><a href="../fotos"><span class="canter-menu">Fotos principales</span></a></li><br>
                <li class="list-group-item"><a href="../mascota"><span class="canter-menu">Mascotas</span></a></li><br>
                <li class="list-group-item"><a href="../planes"><span class="canter-menu">Planes</span></a></li><br>
                <li class="list-group-item"><a href="../usuarios"><span class="canter-menu">Usuarios</span></a></li><br>
                <li class="list-group-item"><a href="../reservas"><span class="canter-menu">Reservas</span></a></li><br>
                <li class="list-group-item"><%= link_to 'Salir', {:action => :destroy, :controller => 'sessions' }, class: "canter-menu" %></li><br>
            </ul>   
        </div>     
    </div>
</center>