<h1>Nueva Foto</h1>
    <div class="container-fluid">
        <div class="row">
            <%= render 'form' %>
        </div>
    </div>    
<%= link_to 'Atrás', menu_foto_path, class: "btn btn-default" %>
