<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mundo Mascotas</title>
    <link href="assets/css/template.css" rel="stylesheet">
    <link href="assets/css/fonts.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="assets/css/otherStyle.css">
    <%= csrf_meta_tags %>
    <script
			  src="https://code.jquery.com/jquery-1.12.3.min.js"
			  integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
			  crossorigin="anonymous"></script>
    <script type="text/javascript" src="assets/js/bootstrap-3.1.1.min.js"></script>
    <script type="text/javascript" src="assets/js/jquery.isotope.min.js?v=1.5.26"></script>
    <script type="text/javascript" src="assets/js/jquery.singlePageNav.min.js"></script>
    <script type="text/javascript" src="assets/js/main.js"></script>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css" />
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
<script>
 $.datepicker.regional['es'] = {
 closeText: 'Cerrar',
 prevText: '<Ant',
 nextText: 'Sig>',
 currentText: 'Hoy',
 monthNames: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
 monthNamesShort: ['Ene','Feb','Mar','Abr', 'May','Jun','Jul','Ago','Sep', 'Oct','Nov','Dic'],
 dayNames: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sábado'],
 dayNamesShort: ['Dom','Lun','Mar','Mié','Juv','Vie','Sáb'],
 dayNamesMin: ['Do','Lu','Ma','Mi','Ju','Vi','Sá'],
 weekHeader: 'Sm',
 dateFormat: 'dd/mm/yy',
 firstDay: 1,
 isRTL: false,
 showMonthAfterYear: false,
 yearSuffix: ''
 };
 $.datepicker.setDefaults($.datepicker.regional['es']);
$(function () {
$("#fecha").datepicker();
});
</script>
</head>
<body>
 <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %>
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        </div>
      <% end %>
<%= yield %>

</body>
</html>
